<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <% for(post of posts) { %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <p class="content"><%= post.content %></p>
            <button><a href="http://localhost:8080/posts/<%= post.id %>">View Post</a></button>
            <button><a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit Post</a></button>
            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <br/>
                <button>Delete Post</button>
            </form>
        </div> 
    <% } %>
    <br/>
    <button><a href="http://localhost:8080/posts/new">Create New Post</a></button>
</body>
</html>