<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <% for(user of users) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
                    <form method="GET" action="/user/<%= user.id %>/edit">
                        <button>Edit username</button>
                    </form>
                </td>
                <td>
                    <form method="get" action="/user/<%= user.id %>/delete">
                        <button>Delete User</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>


    